/* body{
  background-image: url("../img/bg-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */
.midC{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* top:-200px; */
    width:80%;
  z-index: 100;
  /* min-height: 100vh; */

  }
  #cform{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    padding: auto;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
              inset -5px -5px 5px rgba(255,255,255,0.5),
              5px 5px 5px rgba(0,0,0,0.05),
              -5px -5px 5px rgba(255,255,255,0.5);

  border-radius: 15px;
  background-color: #fff;
 

  }
  #cform div{
    width: 80%;
    
  }
  #cform div input, #cform div textarea{
    width: 80%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
   outline: none;
  /* border-radius: 15px; */
}

#cform div label{
  text-shadow: 0 5px 2px rgba(0,0,0,0.25) ;
}
#cform div #cbtn{
  /* width: 100%; */
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
 outline: none;
/* border-radius: 15px; */
}

.footercontainer{
  width: 100%;
  background-color: #343A40;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  float:inline-end;
}
.footercontainer p{
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 468px) {
    .midC{
        width: 90%;
        
      }
    }

@media only screen and (min-height: 830px ){
  .midC{
    min-height: 100vh;
    top: -200px;

    
  }
}